/* CSS für das Theme "Takeshi" auf anmut und demut 

	@author: benjamin birkehake <benjamin@birkenhake.org>

*/

/* ========== At first, set Defaults back to zero ========== */
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,table,tr,td,thead,tbody{
	margin:0px;
	padding:0px;
	font-weight:normal;
	border:0px;
}

/* Add marigins again */

ul, ol, dd{
	padding-left:2em;
}

h2, h3, p, ul, ol, dl, table, pre {
	margin-bottom:2em;	
}





/* Set the basics 100e2r */

html, body, textarea {
	font:100%/1.45 Georgia, serif;	
	line-height: 145%;		
}

a {
	border:0px;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:0px;
}






/* Das grobe Layout */

.region {
	width:1078px;
	min-width:1078px;
	margin:0px;
	padding:0px;
}

#header{	
	width:100%;
	min-width:1150px;
	color:white;
	background:black;	
	height:30px;
	padding-top:5px;
}

#arena {
	padding:20px 0px 0px 0px;
	margin:0px 40px 0px 20px;
	width:1078px;
	min-width:1078px;	
}

#footer {	
  clear:both;	
	padding:0px 0px 20px 0px;
	margin:0px 20px 0px 20px;
	width:1078px;
	min-width:1078px;	
}

.clear {
  clear:both;
}




/* Subregion inside the Arena   */

#node,
#lexicon,
#associations,
#occurrences {
	margin-left:183px;
}

#node h2,
#comments h2,
#lexicon h2,
#associations h2,
#occurrences h2 {
  margin-bottom:2em;  
}

#node,
#lexicon,
#footnotes,
#comments,
#associations,
#occurrences {
	margin-bottom:2em;
}





/* Header */

#header a{
	color:white;	
}

#header h1{
	padding-left:20px;	
}

#header h1, 
#header p{
	display:inline;
	font-size:16px;	
}

#header h1 {
	margin-left:0px;
}

#header p{
  position:absolute;
  right:20px;
  margin-right:20px;	
	padding-left:175px;
}

.backandforth {
	padding-right:50px;		
}	

.backwardslink {
	padding-right:10px;
}





/* Footer */

#buttons {
  text-align:right; 
}

#buttons img{
 	margin-left:14px;
	width:163px;
}

#digitalistbesser, #impressum{	
	text-transform:uppercase;
}

#digitalistbesser{	
	float:right;	
}





/* Homepage */

.page-homepage .node{
	min-height:240px;
}

.page-homepage .teaserimage {	
	position:absolute;
	left:813px;
}

.page-homepage .teaserimage img {
	width:161px;
	border:1px solid lightgrey;
}

.readmore{
	margin-top:-1em;
	text-align:right;
}

.page-homepage .topic{
	float:left;
	
}

.page-homepage #topics .second{
	margin-left:20px;
}

.page-homepage .topic img{
	width:529px;
}

.page-homepage .topic h3{
	font-size:150%;
}

.page-homepage #blogroll {
	min-height:200px;
}

.page-homepage #blogroll li{
	float:left;
	margin-left:25px;
}




/* Directory Listings des Apache Servers */

.page-directory pre{
	font:100%/1.45 Georgia, serif;	
	line-height: 145%;
}

.page-directory #arena hr{
	display:none;
}




/* Fließtextelemente */

h2 {
	margin-bottom:0.5em;
}

h3{
	margin-bottom:1em;
	clear:both;
}

blockquote {
	border-left:3px solid black;
	padding-left:2em;
}

img {
	max-height:529px;
	max-width:529px;	
}

td{
	padding-left:5px;
}

hr{
  border:0;
  height:3px;
  color:black;
  background:black;  
  text-align:left;
  margin-top:2em;
}

#arena hr, 
#footer hr{
  margin-left:0px;
  margin-top:2em;
  margin-bottom:2em;  
}







/* Artikel  */

.node, #node, #lexicon {
	clear:both;
	width:529px;	
	margin-left:183px;
	margin-bottom:2em;	
	min-height:350px;
}

.metadata{
	position:absolute;
	left:20px;
}



.page-node .teaserimage,
.page-term .teaserimage  {	
	position:absolute;
	left:813px;
	top:35px;
}

.page-node .teaserimage img,
.page-term .teaserimage img {
	width:286px;
}

.volleBreitseite{
	margin-left:-183px;
	margin-top:-13px;
	width:1078px;
} 

.volleBreitseite img{
	max-width:1078px;
	max-height:1078px;
}



.moblog-full img {
	max-width:834px;
	max-height:650px;
}

.marginalie{
	margin-left:-183px;
	float:left;
	clear:left;
	width:163px;
}

.marginalie img{
	max-width:163px;
}

.marginalien-absatz{
	min-height:163px;
}

.glosse{
	position:absolute;
	left:813px;
}

.glosse img{
	max-width:285px;
}

.moblog-teaser img{
	max-height:250px;
	max-width:250px;
}

.halbeSpalte{
  width:45%;
}

.linkeSpalte{ 
  clear:both;
  float:left;
}
.rechteSpalte{
  float:right;
}

.weiss-auf-schwarz{
	background-color:black;
	color:whitesmoke;	
}

.weiss-auf-schwarz hr{
	background-color:whitesmoke;	
}

.weiss-auf-schwarz a{
	color:whitesmoke;	
	text-decoration:underline;
}

.spitzmarke{
	position:absolute;
	left:20px;
	font-size:150%;
}






/*  Fussnoten  */
#footnotes {
	width:1078px;
}	

#footnotes p {
	margin-bottom:0em;
}

#mytabs li{
	display:inline;
}









/* Kommentare */

#comments {	
	width:1078px;
}

#comments h2 {	
	padding-top:1em;
	margin-bottom:2em;
}

.comment {
	margin-left:183px;
	margin-bottom:3em;	
	width:529px;	
}

.comment .metadata{
	margin-left:732px;	
}

.comment hr{
	border:0;
	height:1px;
	color:black;
	background:black;
	width:834px;	
}

.comment .submitted{
	text-align:right;
	font-style:italic;
	margin-top:-2em;
}

.comment img {
	max-width:529px;
}




/* Kommentar-Formular*/

#comment-form {
	margin-left:183px;
}

#comment-form #userdata{
	
}

#comment-form hr{
	margin-left:-183px;
}

#comment-form h2{
	margin-top:1em;
	margin-bottom:1em;
	margin-left:-183px;
}

#comment-form p,
#comment-form h2{
	margin-bottom:15px;
}

#comment-form span {
	font-style:italic;
}

#comment-form input{
	left:325px;
	position:absolute;
}

#comment-form #submit{
	left:0px;
	margin-top:1em;
	margin-bottom:2em;
	position:relative;
}

#comment-form textarea{
	width:529px;
	height:350px;
}