html {font-size:6pt;}
body {font-size:6pt; color:black; background-color:floralwhite; font-family:Verdana, Arial, sans-serif; }
h1 {text-align:center}

h1.hopper {text-align:right; color:cornflowerblue;font-family:Verdana, Arial, sans-serif; text-transform:uppercase;}
h1.hokusai {text-align:left;color:darkblue; font-family:'Times New Roman', Times, serif; text-transform:uppercase; font-weight:900;}

div {font-size:10px; padding:10px; border-width:1px; border-style:dashed; border-color:black;}
div.center {font-size:10px; text-align:justify;}


table {width:100%; text-align:center;}
td.hopper-img {padding:25px; border-width:1px; border-style:dashed; border-color:black; text-align:center;}
td.hokusai-img {padding:25px; border-width:1px; border-style:dashed; border-color:black;text-align:center;}

td.hymen {width:300px; text-align:center; padding:10px;}
td.hopper-txt {color:cornflowerblue; text-align:left; padding:10px;font-weight:700;}
td.hokusai-txt {color:darkblue; text-align:right; padding:10px;font-weight:700;}
